<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home">
        <ion-icon name="home-outline" color="primary"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="catalogo">
        <ion-icon name="albums-outline" color="primary"></ion-icon>
        <ion-label>Catálogo</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="alert-circle-outline" color="primary">Alfa</ion-icon>
        <ion-label>Alfa</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="contacto">
        <ion-icon name="person-add-outline" color="primary"></ion-icon>
        <ion-label>Contacto</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
