

<ion-content>

<ion-slides pager="true" [options]="slideOpts">

  <ion-card>
    <ion-slide>
    <img src="../../../assets/img/gorras/gorra_fuego_negra2.JPG">
  </ion-slide>

  <ion-slide>
    <img src="../../../assets/img/gorras/gorra_fuego_negra.JPG">
  </ion-slide>

  <ion-slide>
    <img src="../../../assets/img/gorras/gorra_agua_azul.JPEG">
  </ion-slide>

    <ion-slide>
    <img src="../../../assets/img/gorras/gorra_agua_negra.JPEG">
  </ion-slide>
  
  
  </ion-card>


</ion-slides>


</ion-content>
