<ion-content>

  <ion-card>
  
    <ion-card-header>
      Visión
    </ion-card-header>
  
    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta eveniet a est earum hic dolor recusandae, quidem quia veniam, nam ullam perspiciatis consequuntur ipsum quam necessitatibus minima voluptatibus? Corporis, facilis.
    </ion-card-content>
  
  </ion-card>

  <ion-card>
  
    <ion-card-header>
      Misión
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aliquam delectus est quo vel voluptatum illum vitae alias vero impedit nesciunt doloremque et omnis maiores ducimus nulla, non voluptatibus accusantium.
    </ion-card-content>
  
  </ion-card>

</ion-content>
